<!--Beging section for slider-->
<div class="banner" id="home">
  <div class="banner-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="containerUp">
            <h2 class="PrincipalTittle">Bienvenidos a S.A.F.I
              <i class="iconTittleSAFI fas fa-chart-line"></i>
            </h2>
            <p class="DescriptionTittle">Seguimiento a la formación integral</p>
          </div>
        </div>
      </div>
      <div class="row containerMedium">
        <figure class="col-lg-6 col-md-12 containerFigure">
          <img class="imgFigure" src="/assets/SAFI LOGO.png" alt="SAFIlogo">
        </figure>
        <div class="col-lg-6 col-md-12 containerForm">
          <mat-card class="CardForm">
            <form action="" novalidate [formGroup]="loginForm" (ngSubmit)="login()">
              <mat-form-field class="formGroup">
                <mat-label for="doc">Usuario</mat-label>
                <input matInput class="inputSe" autocomplete="off" type="text" id="doc" formControlName="username"
                  name="username">
                <mat-icon matSuffix>perm_identity</mat-icon>
                <div *ngIf="loginForm.get('username').invalid 
&& (loginForm.get('username').dirty || loginForm.get('username').touched)">
                  <div *ngIf="loginForm.get('username').errors.required">
                    <p class="validations">Este campo es requerido</p>
                  </div>
                </div>
              </mat-form-field>

              <mat-form-field class="formGroup">
                <mat-label for="doc">Contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" class="inputSe" autocomplete="off" type="password"
                  id="doc" formControlName="password" name="password">
                <p mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </p>
                <div *ngIf="loginForm.get('password').invalid 
&& (loginForm.get('password').dirty || loginForm.get('password').touched)">
                  <div *ngIf="loginForm.get('password').errors.required">
                    <p class="validations">Este campo es requerido</p>
                  </div>
                </div>
              </mat-form-field>
              <div class="containerFooterLogin">
                <mat-checkbox class="checkboxMaterial" color="primary">Recuerdame</mat-checkbox>
                <a class="ForgotPassword" [routerLink]="['../forgot-password']">Olvidaste tu contraseña?</a>
                <button [disabled]="loginForm.invalid" class="bottomLogin" mat-raised-button
                  color="primary">Login</button>
              </div>
            </form>
          </mat-card>
          <div class="containerRegister">
            <p class="forgotPass">Todavía no tienes una cuenta?</p>
            <a class="linkToRegister" [routerLink]="['../userCreate']">Registrarse</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End section for slider-->

<!--Confirmation Dialog-->
<p-confirmDialog #cd header="¡Alerta!" icon="pi pi-exclamation-triangle">
  <p-footer>
    <!--<button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>-->
    <button type="button" mat-flat-button color="primary" icon="pi pi-check" label="Aceptar" (click)="cd.accept()">
      <i class="fas fa-sign-out-alt"></i>
    </button>
  </p-footer>
</p-confirmDialog>
<!--End Confirmation Dialog-->
