<div class="card text-center">
    <div class="card-header alert alert-danger" role="alert">
      <h2>Acceso denegado</h2> 
    </div>
    <div class="card-body">
      <h5 class="card-title">permisos denegado</h5>
      <p class="alert" role="alert">Actualmente su cuenta no tiene los perisos necesarios para ingresar a este sitio</p>
      <a [routerLink]= "['/dashboard']" class="btn btn-success">Volver</a>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>