arialColor = #333333

/*Beging style for Home*/
.upSite
 box-shadow none 
 padding 0
 padding-right 1.5em



.mediumSite
 position relative
 top 2em

.contentUser
 color arialColor

.SAFI-item
 text-align center 

.SAFI-image
	height 22.5em
	width 22.5em
	position relative

@media(max-width: 430px)
	.contentUser
		padding-top 2em 

	.SAFI-image
		height 9em
		width 9em

	.SAFI-descriptionTwo
		font-size .6em


.SAFI-description
	font-size 1.2em
	font-weight: bold
	transition: .6s

.SAFI-description:hover
	color: #FF9900


.SAFI-descriptionTwo
	font-size .9em


.SubTitleUpside
	font-size 1em
	font-weight lighter

.TitleSAFI
	float: right 
	margin 0
	margin-left 1em
    margin-top 1em

.Slider
	height 87vh
	background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url('https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') fixed center center;
/*End style for seccion container HOME*/
