<div class="Slider">
  <mat-card class="upSite">
    <p class="TitleSAFI">SAFI
      <a class="versionSAFI" [routerLink]="['./dashboard-home']">
        version 1.6
      </a>
    </p>
  </mat-card>
  <div class="container col-lg-8">
    <div class="contentUser">
      <div class="mediumSite">
        <article class=" SAFI-item">
          <figure class="SAFI-imageContainer">
            <img class="SAFI-image" src="../../../assets/SAFI LOGO.png" alt="SAFI logo">
            <figcaption class="SAFI-description">Bienvenidos a S.A.F.I</figcaption>
            <figcaption class="SAFI-descriptionTwo">Seguimiento a la formación integral</figcaption>
          </figure>
        </article>
      </div>
    </div>
  </div>
</div>
