<div class="container col-lg-8">
  <mat-card class="containerTable">
    <table class="table table-striped table-responsive" border="1">
      <thead class="theadClass">
        <tr>
          <th>Id</th>
          <th>Name program</th>
          <th>Version</th>
          <th>Duration productive</th>
          <th>Duration lective</th>
          <th>Justification</th>
          <th>TrainingType</th>
          <th>TrainingMode</th>

          <!--<th>Actions</th>-->
        </tr>
      </thead>
      <tbody  class="tbodyClass">
        <tr *ngFor="let item of programList">
          <td scope="row">{{ item.id }}</td>
          <td>{{ item.nameProgram }}</td>
          <td>{{ item.version }}</td>
          <td>{{ item.durationTrimesterProductive }}</td>
          <td>{{ item.durationTrimesterLective }}</td>
          <td>{{ item.justification }}</td>
          <td>{{ item.trainingType }}</td>
          <td>{{ item.trainingMode }}</td>

        </tr>

      </tbody>
    </table>
  </mat-card>
</div>
