<div class="container col-lg-8">
  <mat-card class="containerTable">
    <table class="table table-striped table-responsive" border="1">
      <thead class="theadClass">
        <tr>
          <th>Id</th>
          <th>Code</th>
          <th>Start Date</th>
          <th>Status</th>
          <th>Date end lective</th>
          <th>Date end Practice</th>
          <th>OfferType</th>
          <th>TrainingType</th>
          <th>Working day</th>
          <th>Id program</th>

          <!--<th>Actions</th>-->
        </tr>
      </thead>
      <tbody class="tbodyClass">
        <tr *ngFor="let item of ficha"></tr>
        <tr *ngFor="let item of fichaList">
          <td scope="row">{{ item.id }}</td>
          <td>{{ item.code }}</td>
          <td>{{ item.startDate }}</td>
          <td>{{ item.status }}</td>
          <td>{{ item.dateEndLective }}</td>
          <td>{{ item.dateEndPractice }}</td>
          <td>{{ item.offerType }}</td>
          <td>{{ item.trainingType }}</td>
          <td>{{ item.workingDay }}</td>
          <td>{{ item.programs.id }}</td>
        </tr>
      </tbody>
    </table>
  </mat-card>
</div>
