<mat-card class="cardContainer container col-lg-2">
  <mat-vertical-stepper class="WizardForm" linear #stepper>
    <!--Begin Second Form Group-->
    <mat-step class="groupWizard" [stepControl]="firstFormGroup" errorMessage="Este campo es obligatorio.">
      <!--BegingForm-->
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Situación a corregir</ng-template>
        <mat-form-field>
          <mat-label>Situación a corregir</mat-label>
          <textarea matInput minlength="15" maxlength="200" placeholder="Ex. Plagio en evidencias"
            formControlName="firstCtrl" required readonly></textarea>
          <mat-hint align="start">Mínimo 15 caracteres</mat-hint>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
      <!--EndForm-->
    </mat-step>
    <!--End Second Form Group-->
    <!--Begin Third Form Group-->
    <mat-step class="groupWizard" [stepControl]="secondFormGroup" errorMessage="Este campo es obligatorio.">
      <!--BegingForm-->
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>¿Por qué se presenta la situación?</ng-template>
        <mat-form-field>
          <mat-label>¿Porqué la situación?</mat-label>
          <textarea matInput minlength="15" maxlength="200" placeholder="Ex. Llegué tarde a formación"
            formControlName="secondCtrl" required readonly></textarea>
          <mat-hint align="start">Mínimo 15 caracteres</mat-hint>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
      <!--EndForm-->
    </mat-step>
    <!--End Third Form Group-->
    <!--Begin Fourth Form Group-->
    <mat-step class="groupWizard" [stepControl]="thirdFormGroup" errorMessage="Este campo es obligatorio.">
      <!--BegingForm-->
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Impácto</ng-template>
        <mat-form-field>
          <mat-label>Impácto</mat-label>
          <textarea matInput minlength="15" maxlength="200" placeholder="Evito el avance de la formación"
            formControlName="thirdCtrl" required></textarea>
          <mat-hint align="start">Mínimo 15 caracteres</mat-hint>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
      <!--EndForm-->
    </mat-step>
    <!--End Fourth Form Group-->
    <!--Begin Fifth Form Group-->
    <mat-step class="groupWizard" [stepControl]="fourthFormGroup" errorMessage="Este campo es obligatorio.">
      <!--BegingForm-->
      <form [formGroup]="fourthFormGroup">
        <ng-template matStepLabel>Efecto</ng-template>
        <mat-form-field>
          <mat-label>Efecto</mat-label>
          <textarea matInput minlength="15" maxlength="200" placeholder="Estoy perdiendo tiempo de formación"
            formControlName="fourthCtrl" required></textarea>
          <mat-hint align="start">Mínimo 15 caracteres</mat-hint>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
      <!--EndForm-->
    </mat-step>
    <!--End Fifth Form Group-->
    <!--Begin Sixth Form Group-->
    <mat-step class="groupWizard" [stepControl]="fifthFormGroup" errorMessage="Este campo es obligatorio.">
      <!--BegingForm-->
      <form [formGroup]="fifthFormGroup">
        <ng-template matStepLabel>Compromiso</ng-template>
        <mat-form-field>
          <mat-label>Compromiso</mat-label>
          <textarea matInput minlength="15" maxlength="200" placeholder="Cumplir con las evidencias propuestas"
            formControlName="fifthCtrl" required></textarea>
          <mat-hint align="start">Mínimo 15 caracteres</mat-hint>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
      <!--EndForm-->
    </mat-step>
    <!--End Sixth Form Group-->
    <!--Begin Seventh Form Group-->
    <mat-step class="groupWizard">
      <ng-template matStepLabel>Hecho</ng-template>
      <p>¿Deseas enviar el formulario?</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <!--<button mat-button (click)="stepper.reset()">reset</button>-->
        <button mat-button color="primary" (click)="confirm()">Enviar</button>
      </div>
    </mat-step>
    <!--End Seventh Form Group-->
  </mat-vertical-stepper>
</mat-card>
<!--End Container Principal WizardForm-->
<!--End WizardForm-->
<!--Confirmation Dialog PrimeNg-->
<p-confirmDialog #cd header="¡Alerta!" icon="pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" mat-flat-button color="warn" label="Cancelar" (click)="cd.reject()">
      <i class="fas fa-sign-out-alt"></i>
    </button>
    <button type="button" mat-flat-button color="primary" label="Confirmar" (click)="cd.accept()">
      <i class="fas fa-check"></i>
    </button>
  </p-footer>
</p-confirmDialog>
<!--End Confirmation Dialog-->
