/*Begin Var colors*/
Primary = #FF9900
Second = #238176
BorderColor = #b5b5b5
ArialColor = #333333
Fondo = #FFFFFF
Error= #B42E27
borde = .01em
/*End Var colors*/
/*Begin WizardForm Style's*/
/*Buttons Form Style*/
.mat-step-icon
    background Primary


.cardContainer 
  margin-top 2em
  padding 0  
  -webkit-transition-duration 1s
  transition-duration 1s  

.cardContainer:hover  
  box-shadow 0 12px 16px 0 rgba(255, 153, 0, 0.24),   0 17px 50px 0 rgba(255, 153, 0, 0.24)     

@media(max-width: 650px)
	.cardContainer
    margin-bottom 6em    
/*End WizardForm Style's*/


