<div class="banner" id="home">
  <div class="banner-content">
    <div class="container col-lg-3">
      <mat-card class="contenedor-formulario">
        <form [formGroup]="detailUserFormGroup" novalidate (ngSubmit)="saveDetailUser()">


          <mat-form-field class="groupContainer">
            <mat-label class="MainForm">Tipo de documento*</mat-label>
            <!--  <input matInput formControlName="documenttype" type="text" name="documenttype">-->
            <mat-select disableRipple formControlName="documentType" name="documentType">
              <mat-option value="CC">Cédula de Ciudadaia</mat-option>
              <mat-option value="TI">Tarjeta de Identidad</mat-option>
              <mat-option value="CE">Cédula de Extranjería</mat-option>
              <!--<mat-option value="4">Número ciego SENA</mat-option>-->
              <mat-option value="PASAPORTE">Pasaporte</mat-option>
              <!--<mat-option value="6">Documento Nacional de identificación</mat-option>-->
              <!--<mat-option value="7">Número de identificación Tributaria</mat-option>-->
              <!--<mat-option value="8">PEP - RAMV</mat-option>-->
            </mat-select>
            <div
              *ngIf="detailUserFormGroup.get('documentType').invalid && (detailUserFormGroup.get('documentType').dirty || detailUserFormGroup.get('documentType').touched)">
              <div *ngIf="detailUserFormGroup.get('documentType').errors.required">
                <p class="validations">Este campo es requerido</p>
              </div>
            </div>
          </mat-form-field>

          <mat-form-field class="groupContainer">
            <mat-label class="MainForm">Número de documento*</mat-label>
            <input matInput formControlName="documentNumber" maxlength="15" minlength="8" type="text"
              name="documentNumber">
            <mat-hint align="end">Mínimo 8 números </mat-hint>
            <div
              *ngIf="detailUserFormGroup.get('documentNumber').invalid && (detailUserFormGroup.get('documentNumber').dirty || detailUserFormGroup.get('documentNumber').touched)">
              <div *ngIf="detailUserFormGroup.get('documentNumber').errors.required">
                <p class="validations">Este campo es requerido</p>
              </div>
              <div *ngIf="detailUserFormGroup.get('documentNumber').errors.minlength">
                <p class="validations">Este campo debe contener mínimo 8 carácteres</p>
              </div>
              <div *ngIf="detailUserFormGroup.get('documentNumber').errors.maxlength">
                <p class="validations">Este campo debe contener como máximo 10 carácteres</p>
              </div>
            </div>
          </mat-form-field>

          <mat-form-field class="groupContainer">
            <mat-label class="MainForm">Número de telefono*</mat-label>
            <span matPrefix>+57 &nbsp;</span>
            <input matInput formControlName="phone" maxlength="10" minlength="10" type="text" placeholder="315-555-123"
              name="phone">
            <mat-hint align="end">Mínimo 10 números </mat-hint>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <div
              *ngIf="detailUserFormGroup.get('phone').invalid && (detailUserFormGroup.get('phone').dirty || detailUserFormGroup.get('phone').touched)">
              <div *ngIf="detailUserFormGroup.get('phone').errors.required">
                <p class="validations">Este campo es requerido</p>
                <div *ngIf="detailUserFormGroup.get('documentNumber').errors.minlength">
                  <p class="validations">Este campo debe contener mínimo 8 carácteres</p>
                </div>
                <div *ngIf="detailUserFormGroup.get('documentNumber').errors.maxlength">
                  <p class="validations">Este campo debe contener como máximo 10 carácteres</p>
                </div>
              </div>
            </div>
          </mat-form-field>

          <mat-form-field class="groupContainer" appearance="fill">
            <mat-label>Email Personal</mat-label>
            <input formControlName="emailPersonal" name="emailPersonal" maxlength="40" matInput class="MainForm"
              name="emailPersonal" placeholder="Ex@gmail.com" required>
            <mat-icon matSuffix>contact_mail</mat-icon>
            <div
              *ngIf="detailUserFormGroup.get('emailPersonal').invalid && (detailUserFormGroup.get('emailPersonal').dirty)">
              <div *ngIf="detailUserFormGroup.get('emailPersonal').errors.required">
                <p class="validations" role="alert">
                  Este campo es requerido
                </p>
              </div>
            </div>
            <div
              *ngIf="detailUserFormGroup.get('emailPersonal').invalid && (detailUserFormGroup.get('emailPersonal').dirty)">
              <div *ngIf="detailUserFormGroup.get('emailPersonal').errors.email">
                <p class="validations" role="alert">
                  El email no tiene la sentencia adecuada
                </p>
              </div>
            </div>
          </mat-form-field>

          <mat-form-field class="groupContainer">
            <mat-label class="MainForm">Dirección*</mat-label>
            <input matInput formControlName="address" type="text" maxlength="20" minlength="10" name="address" placeholder="EX Street 9 #24a43">
            <mat-hint align="end">Mínimo 10 carácteres </mat-hint>

            <div
              *ngIf="detailUserFormGroup.get('address').invalid && (detailUserFormGroup.get('address').dirty || detailUserFormGroup.get('address').touched)">
              <div *ngIf="detailUserFormGroup.get('address').errors.required">
                <p class="validations" role="alert">
                  Este campo es requerido
                </p>
              </div>
            </div>
          </mat-form-field>

          <mat-form-field class="groupContainer">
            <mat-label>Genero*</mat-label>
            <mat-select formControlName="gender" type="text" name="gender" disableRipple>
              <mat-option value="MALE">Masculino</mat-option>
              <mat-option value="FEMALE">Femenino</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="groupContainer" appearance="fill">
            <mat-label>Email SENA</mat-label>
            <input matInput class="MainForm" name="emailSena" maxlength="40" formControlName="emailSena" placeholder="Ex@misena.edu.co"
              required>
            <mat-icon matSuffix>contact_mail</mat-icon>
            <div *ngIf="detailUserFormGroup.get('emailSena').invalid && (detailUserFormGroup.get('emailSena').dirty)">
              <div *ngIf="detailUserFormGroup.get('emailSena').errors.required">
                <p class="validations" role="alert">
                  Este campo es requerido
                </p>
              </div>
            </div>
            <div *ngIf="detailUserFormGroup.get('emailSena').invalid && (detailUserFormGroup.get('emailSena').dirty)">
              <div *ngIf="detailUserFormGroup.get('emailSena').errors.email">
                <p class="validations" role="alert">
                  El email no tiene la sentencia adecuada
                </p>
              </div>
            </div>
          </mat-form-field>


          <button type="submit" mat-flat-button color="primary" class="Send">Guardar</button>
        </form>
      </mat-card>

    </div>
  </div>
</div>