/*Begin Vars*/
Primary = #FF9900
BorderColor = #b5b5b5
ArialColor = #333333
Fondo = #FFFFFF
borde = .01em
/*General Styles container table*/    
.table
    border none 
    text-align center
    font-size .9em 
@media(max-width: 500px)
    .table
        font-size .7em    
/*Thead Styles*/
.theadClass
    background Primary
    border borde solid Primary
    color Fondo
/*Tbody Styles*/    
.tbodyClass
    border borde solid Primary
    color ArialColor
    background-color Fondo
.containerTable
    top 2em
    box-shadow none
 
