<div class="container col-lg-8">
  <mat-card class="containerTable">
    <table class="table table-striped  table-responsive" border="1">
      <thead class="theadClass">
        <tr>
          <th>Id</th>
          <th>login</th>
          <th>password</th>
          <th>firstName</th>
          <th>lastName</th>
          <th>email</th>
          <th>activated</th>
          <th>createdBy</th>
          <th>lastModifiedBy</th>
          <!--<th>Actions</th>-->
        </tr>
      </thead>
      <tbody class="tbodyClass">
        <tr *ngFor="let item of users">

        <tr *ngFor="let item of usersList">
          <td scope="row">{{ item.id }}</td>
          <td>{{ item.login }}</td>
          <td>{{ item.password }}</td>
          <td>{{ item.firstName }}</td>
          <td>{{ item.lastName }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.activated }}</td>
          <td>{{ item.createdBy }}</td>
          <td>{{ item.lastModifiedBy }}</td>
        </tr>
      </tbody>
    </table>
  </mat-card>
</div>
