<div class="ContainerAll">
  <mat-card class="cardContent">
    <form  [formGroup]="buzon" novalidate>
      <mat-form-field class="groupContainerFirst">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" name="name" readonly>
      </mat-form-field>

      <mat-form-field class="groupContainer">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" name="email" readonly>
      </mat-form-field>
      <mat-form-field class="groupContainer">
        <mat-label>Teléfono</mat-label>
        <span matPrefix>+57 &nbsp;</span>
        <input type="text" matInput placeholder="315-555-123" formControlName="telefono" name="telefono" readonly>
       
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>

      <mat-form-field class="groupContainer">
        <mat-label>Sugeréncia</mat-label>
        <textarea matInput #message maxlength="256" placeholder="Ex. I need help with..." formControlName="sugerencia" name="sugerencia"></textarea>
        <mat-hint align="start"><strong>Escriba su sugerencia</strong> </mat-hint>
        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
      </mat-form-field>

      <button class="Send" mat-flat-button color="primary" [disabled]="buzon.invalid" (click)="sendSugerencia()">Enviar</button>
    </form>
  </mat-card>

</div>
