/*Begin Var colors*/
Primary = #FF9900
Second = #238176
BorderColor = #b5b5b5
ArialColor = #333333
Fondo = #FFFFFF
Error= #B42E27
borde = .01em
/*End Var colors*
/*General Styles container table*/
  
.table
    border none
    text-align center
    font-size .9em 
@media(max-width 500px)
    .table
        font-size .7em  

@media(max-width: 925px)
    .table
        display block
        width 100%
        overflow-x auto
        -webkit-overflow-scrolling touch          
/*Thead Styles*/
.theadClass
    background Primary
    border borde solid Primary
    color Fondo
/*Tbody Styles*/    
.tbodyClass
    border borde solid Primary
    color ArialColor
    background-color Fondo

.containerTable
    box-shadow none
    margin-top 4em 
/*Tbody Styles*/     
 .itemFilterS
    margin-top .5em    

.search
    width 16em 
    z-index 1
    float right 

.groupContainer
    font-size .9em

.containerForm
    box-shadow none

.Details
    font-size .8em
    margin-top .5em
    margin-left 2em
    color rgba(3, 3, 3, .5)


