<div class="search col-lg-4">
  <mat-expansion-panel class="expansionPanel" matTooltip="Filtrar">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="iconContainer">
          <i class="fas fa-search"></i>
        </div>
        <h5 class="Details">Detalles</h5>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card class="containerForm">
      <form [formGroup]="searchForm" (ngSubmit)="searchApprenticeAndInstructorByFicha()">

        <div class="itemFilter ContainingFilter">
          <!--autoComplic para instructor-->
          <p-autoComplete placeholder="Ficha" class="inputFicha" formControlName="code" field="code"
            [suggestions]="fichaList" (onSelect)="selectFichatemp($event)" (completeMethod)="searchFichaByCode($event)">

            <ng-template let-brand pTemplate="item">
              <div>
                <div>{{brand.code}}</div>
              </div>
            </ng-template>

            <ng-template let-value pTemplate="selectedItem">
              <span>{{value}}</span>
            </ng-template>
          </p-autoComplete>
          <!--autoComplic para instructor end-->
        </div>

        <div class="itemFilter itemFilterS ContainingFilter">
          <!--autoComplic para aprendiz-->
          <p-autoComplete placeholder="Nombre Aprendiz" class="inputFicha" formControlName="documentApprentice"
            field="detailUser.users.firstName" [suggestions]="apprenticeList" (onSelect)="selectAppreticeTemp($event)"
            (completeMethod)="searchApprentice($event)">

            <ng-template let-brand pTemplate="item">
              <div>
                <div>{{brand.detailUser.users.firstName}} {{brand.detailUser.users.lastName}}</div>
              </div>
            </ng-template>

            <ng-template let-value pTemplate="selectedItem">
              <span>{{value}}</span>
            </ng-template>
          </p-autoComplete>
          <!--autoComplic para aprendiz end-->
        </div>

        <div class="itemFilter itemFilterS ContainingFilter">
          <!--autoComplic para aprendiz-->
          <p-autoComplete placeholder="Instructor" class="inputFicha" formControlName="documentInstructor"
            field="detailUser.users.firstName" [suggestions]="instructorList" (onSelect)="selectInstructortemp($event)"
            (completeMethod)="searchInstructor($event)">

            <ng-template let-brand pTemplate="item">
              <div>
                <div>{{brand.detailUser.users.firstName}} {{brand.detailUser.users.lastName}}</div>
              </div>
            </ng-template>

            <ng-template let-value pTemplate="selectedItem">
              <span>{{value}}</span>
            </ng-template>
          </p-autoComplete>
          <!--autoComplic para aprendiz end-->
        </div>


        <mat-form-field class="itemFilter groupContainer">
          <mat-label>Estado*</mat-label>
          <mat-select formControlName="status" name="status" disableRipple>
            <mat-option (click)="searchApprenticeAndInstructorByFicha()">Ninguno</mat-option>
            <mat-option value="false" (click)="searchApprenticeAndInstructorByFicha()">Falso</mat-option>
            <mat-option value="true" (click)="searchApprenticeAndInstructorByFicha()">Verdadero</mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field class="itemFilter typeCall groupContainer">
          <mat-label>Tipo de llamado*</mat-label>
          <mat-select formControlName="typeCallAttention" name="typeCallAttention" disableRipple>
            <mat-option (click)="searchApprenticeAndInstructorByFicha()">Ninguno</mat-option>
            <mat-option value="ACTITUDINAL" (click)="searchApprenticeAndInstructorByFicha()">Actitudinal</mat-option>
            <mat-option value="ACADEMICO" (click)="searchApprenticeAndInstructorByFicha()">Academico</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="itemFilter groupContainer">
          <mat-label>Trimestre*</mat-label>
          <mat-select formControlName="trimestre" name="trimestre" disableRipple>
            <mat-option (click)="searchApprenticeAndInstructorByFicha()">Ninguno</mat-option>
            <mat-option value="1" (click)="searchApprenticeAndInstructorByFicha()">PRIMERO</mat-option>
            <mat-option value="2" (click)="searchApprenticeAndInstructorByFicha()">SEGUNDO</mat-option>
            <mat-option value="3" (click)="searchApprenticeAndInstructorByFicha()">TERCERO</mat-option>
            <mat-option value="4" (click)="searchApprenticeAndInstructorByFicha()">CUARTO</mat-option>
            <mat-option value="5" (click)="searchApprenticeAndInstructorByFicha()">QUINTO</mat-option>
            <mat-option value="6" (click)="searchApprenticeAndInstructorByFicha()">SEXTO</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-card>
  </mat-expansion-panel>

</div>



<div class="container col-lg-8 ">
  <mat-card class="containerTable">
    <table *ngIf="callAttentionList != undefined" class="table table-hover" border="1">
      <thead class="theadClass">
        <tr>
          <th>Fecha</th>
          <th>Aprendiz</th>
          <th>Instructor</th>
          <th>Estado</th>
          <th></th>
          <th><i class="fas fa-sync-alt"></i></th>
          <th><i class="fas fa-eye"></i></th>
        </tr>
      </thead>
      <tbody class="tbodyClass">
        <tr *ngFor="let item of callAttentionList">
          <td>{{item.callAttentionDate}}</td>
          <td>{{item.aprendiz.users.lastName}} {{item.aprendiz.users.firstName}}</td>
          <td>{{item.instructor.users.lastName}} {{item.instructor.users.firstName}}</td>

          <td>
            <p-inputSwitch (onChange)="changeStatuscallAttention(item)" name="status" [(ngModel)]="item.status">
            </p-inputSwitch>

          </td>
          <td>
            <i *ngIf="item.status" class="fas fa-lock-open"></i>
            <i *ngIf="!item.status" class="fas fa-lock"></i>
          </td>
          <td>
            <a class="btn btn-xs btn-success" *ngIf="item.status"
              [routerLink]="['../instructor-call-attentionUpdate',item.id]"><i class="fas fa-edit"></i></a>
            <a class="btn btn-xs btn-success" *ngIf="!item.status">
              <i *ngIf="!item.status" class="fas fa-lock"></i>
            </a>

          </td>
          <td>
            <button id="botones-visualizar" type="button" class="btn btn-warning" data-toggle="modal"
              data-target="#ventanaModal" (click)="addCall(item)">
              <i class="fas fa-eye"></i>
            </button>
          </td>

        </tr>
      </tbody>
    </table>
    <div class="row justify-content-lg-center">
      <div class="col-lg-6">
        <a class="btn btn-light btn-xs" (click)="Paginacion(i)" *ngFor="let item of listPages; index as i">{{i+1}}</a>
      </div>
    </div>
  </mat-card>



  <div class="modal fade " id="ventanaModal" tabindex="-1" role="dialog" aria-labelledby="tituloVentana"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 id="tituloVentana">Llamado de atención
          </h5>
        </div>
        <div class="modal-body">
          <div class="">
            <label>Nombre del aprendiz</label>
            <input class="form-control" type="text" *ngIf="selectCall"
              placeholder="{{selectCall.aprendiz.users.firstName}}" readonly>
            <label>Apellido del aprendiz</label>
            <input class="form-control" type="text" *ngIf="selectCall"
              placeholder="{{selectCall.aprendiz.users.lastName}}" readonly>
            <label>Identificación</label>
            <input class="form-control" type="text" *ngIf="selectCall"
              placeholder="{{selectCall.aprendiz.documentNumber}}" readonly>
            <label>Trimestre</label>
            <input class="form-control" type="text" *ngIf="selectCall" placeholder="{{selectCall.trimestre}}" readonly>
            <label>Tipo de llamado</label>
            <input class="form-control" type="text" *ngIf="selectCall" placeholder="{{selectCall.typeCallAttention}}"
              readonly>
            <label>Situación</label>
            <textarea rows="2" cols="15" class="form-control" type="text" *ngIf="selectCall"
              placeholder="{{selectCall.situation}}" readonly></textarea>
            <label>Recuperación</label>
            <textarea rows="2" cols="15" class="form-control" type="text" *ngIf="selectCall"
              placeholder="{{selectCall.summary}}" readonly></textarea>
            <label>Causa</label>
            <textarea rows="2" cols="15" class="form-control" type="text" *ngIf="selectCall"
              placeholder="{{selectCall.impact}}" readonly></textarea>
            <label>Efecto</label>
            <textarea rows="2" cols="15" class="form-control" type="text" *ngIf="selectCall"
              placeholder="{{selectCall.efect}}" readonly></textarea>
            <label>Compromiso</label>
            <textarea rows="2" cols="15" class="form-control" type="text" *ngIf="selectCall"
              placeholder="{{selectCall.commitment}}" readonly></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" type="button" data-dismiss="modal">
            cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
