/*Begin Var colors*/
Primary = #FF9900
Second = #238176
BorderColor = #b5b5b5
ArialColor = #333333
Fondo = #FFFFFF
Error= #B42E27
borde = .01em
/*End Var colors*
/*General Styles container table*/    
.table
    border none
    text-align center
    font-size .9em 

@media(max-width: 925px)
    .table
        display block
        width 100%
        overflow-x auto
        -webkit-overflow-scrolling touch
            
@media(max-width: 500px)
    .table
        font-size .7em    
/*Thead Styles*/
.theadClass
    background Primary
    border borde solid Primary
    color Fondo
/*Tbody Styles*/    
.tbodyClass
    border borde solid Primary
    color ArialColor
    background-color Fondo
.containerTable
    top 2em
    box-shadow none
 

/*Form Styles*/
.containerForm
    position relative
    margin-top 2em 
.groupContainer
    margin-right 1em    

@media(max-width: 550px)
    .groupContainer
        width 6.5em
        font-size .9em

/*Validations styles*/
.validations
    font-size .8em
    color Error
    position absolute
    padding-top 1.5em


.button2
    background-color Error
    transition all 0.3s ease; 
     
.button2:hover
    background Second

.button3
    color white 
    background-color #FF9900  

.button2, .button3
 border-radius 1em
 border none  
 height 1.8em;
 width 1.8em;
    

    
.fa-exclamation
    color Fondo

