<div class="container col-lg-8">
  <!--<div class="containerForm">
    <form [formGroup]="searchForm" (ngSubmit)="searchApprenticeByFichaAndDocumentNumber()">
      <mat-form-field class="groupContainer">
        <mat-label for="doc">Ficha*</mat-label>
        <input matInput autocomplete="off" type="text" id="doc" formControlName="code" name="code">
      </mat-form-field>

      <mat-form-field class="groupContainer">
        <mat-label for="doc">Documento*</mat-label>
        <input matInput autocomplete="off" type="text" id="doc" formControlName="documentNumber" name="documentNumber">
      </mat-form-field>

      <button mat-flat-button color="primary" class="buttonResponsive" type="submit"><i class="fas fa-search"></i></button>
    </form>
  </div>
  <div *ngIf="callAttentionList == null">
    <table *ngIf="apprenticeList != null" class="table table-striped table-inverse table-responsive" border="1">

      <thead class="thead-inverse theadClass">

        <tr>
          <th>Id</th>
          <th>fullName</th>
          <th>emailPersonal</th>
          <th>documentNumber</th>
          <th>codeFicha</th>
          <th>seleccionar</th>
          <th>Actions</th>--
        </tr>
      </thead>
      <tbody class="tbodyClass">


        <tr *ngFor="let item of apprenticeList">
          <td scope="row">{{ item.id }}</td>
          <td>{{ item.fullName }}</td>
          <td>{{ item.emailPersonal }}</td>
          <td>{{ item.documentNumber }}</td>
          <td>{{ item.codeFicha }}</td>
          <td>
            <button mat-flat-button color="primary" (click)="addToApprentice()"><i class="far fa-hand-pointer"></i></button>
          </td>
        </tr>

      </tbody>
    </table>

    <div class="row justify-content-lg-center">
      <div class="col-lg-6">
        <a class="btn btn-light btn-xs" (click)="Paginacion(i)" *ngFor="let item of listPages; index as i">{{i+1}}</a>
      </div>
    </div>
  </div> -->
  <mat-card class="containerTable">
    <div *ngIf="callAttentionList != null">
      <table class="table table-hover tableView" border="1">
        <thead class="theadClass">
          <tr>
            <th scope="col">Estado</th>
            <th scope="col">Fecha</th>
            <th scope="col">Instructor</th>
            <th scope="col">Descripción</th>
            <th scope="col">Actividades</th>

          </tr>
        </thead>
        <tbody class="tbodyClass">

          <tr *ngFor="let item of callAttentionList">
            <td>
              <div *ngIf="item.status">
                <button *ngIf="item.status" class="button2" [routerLink]="['../aprendiz-call-attention',item.id]">
                  <i class="fas fa-exclamation"></i>
                </button>
              </div>
              <button *ngIf="!item.status" class="button3">
                <i class="fas fa-check"></i>
              </button>
            </td>
            <td>{{item.callAttentionDate}}</td>
            <td>{{item.instructor.users.lastName}} {{item.instructor.users.firstName}}</td>
            <td>{{item.situation}}</td>
            <td>{{item.summary}}</td>

          </tr>
        </tbody>
      </table>
      <div class="row justify-content-lg-center">
        <div class="col-lg-6">
          <a class="btn btn-light btn-xs" (click)="Paginacion2(i)"
            *ngFor="let item of listPages; index as i">{{i+1}}</a>
        </div>
      </div>
    </div>
  </mat-card>

</div>
