/*Colors VAR for project*/
Primary = #FF9900
Second = #238176
BorderColor = #b5b5b5
ArialColor = #333333
Fondo = #FFFFFF
Border  = .01em
.ButtonNav
    border none
    background  none  
/*Begin Style bottons*/
.fa-bars
    font-size 1.5em
    color Fondo   
    cursor pointer
    -webkit-transition-duration 0.4s
    transition-duration 0.4s
.fa-bars:hover   
    font-size 1.4em
/*End Style bottons*/   
/*Begin Style navBar*/
.NavContainer
    background Primary
    justify-content space-between
.NameUser
    text-decoration none 
    color Fondo
    font-size .7em
    margin-right 2em
    cursor pointer
    -webkit-transition-duration 0.4s
    transition-duration 0.4s
.NameUser:hover
    color ArialColor    

.notificationicon    
    color Fondo
    margin-right 1em

.warningCall, .iconMail  
    -webkit-transition-duration 0.4s
    transition-duration 0.4s 

.warningCall, .iconMail:hover 
    color #000

.iconMail
    color #333 

.buttonNav
    border none     
    display inline-block
.NameUser
    display inline-block
.badgeMaterial
    position absolute
    cursor pointer
    margin-right .2em
    margin-top .2em
    position relative 
.containerNameAll
    display inline-flex      
/*End Style navBar*/