<!--Begin NavBar Content-->
<mat-toolbar class="NavContainer">
  <div class="ContainerBotton">
    <div class="ButtonNav" (click)="changeEvent()">
      <i class="fas fa-bars"></i>
    </div>
  </div>
  <div class="containerNameAll">
    <a [routerLink]="['../dashboard/call-attention/aprendiz-call-attention-list']" class="badgeMaterial warningCall "
      [matBadge]="notifications" [matBadgeHidden]="notifications == 0" matBadgeColor="warn" matBadgePosition="before"
      *appHasAnyAuthority="['ADMIN','APRENDIZ']">
      <mat-icon class="iconMail">markunread_mailbox</mat-icon>
    </a>
    <div class="ContainerName">
      <div class="NameUser" (click)="openDialog()">
        {{fullName}}
      </div>
    </div>
    <button class="buttonNav btn btn-outline-dark my-2 my-sm-0 fas fa-sign-out-alt" (click)="confirm()"></button>
  </div>

</mat-toolbar>
<!--End NavBar Content-->

<!--Confirmation Dialog-->
<p-confirmDialog #cd header="¡Alerta!" icon="pi pi-exclamation-triangle">
  <p-footer>


    <button type="button" mat-flat-button color="primary" icon="pi pi-times" label="Cancelar" (click)="cd.reject()">
      <i class="fas fa-ban"></i>
    </button>
    <button type="button" mat-flat-button color="warn" icon="pi pi-check" label="Aceptar" (click)="cd.accept()">
      <i class="fas fa-sign-out-alt"></i>
    </button>

  </p-footer>
</p-confirmDialog>
<!--End Confirmation Dialog-->
