
.rolContainer
    height 3em
    border-top solid 1px #dfdfdf
    border-bottom solid 1px #dfdfdf
    background #ec6e0a
    color #fff
    -webkit-transition-duration 0.4s
    transition-duration 0.4s
.rolContainer:hover
    box-shadow 0 12px 16px 0 rgba(236  110  10 0.24)  0 17px 50px 0 rgba(236  110  10 0.24)         
.RolUser
    position relative
    top 0.7em    
.ProfileContainer
    height 15em    
.InformationContainer
    margin-top 2em   
.ProfileContainer, .rolContainer
    text-align center
.NameUser
    position relative
    bottom 2em    
.manualContainer
    float right 
.manualContainerA   
    text-decoration none 
    color #D50000
.avatar 
    position relative
    margin-top 2em
    width 8em
    height 8em
    border-radius 50%
    -webkit-transition-duration 0.4s
    transition-duration 0.4s
.avatar:hover
    transition all .5s ease-in-out
    border-radius 50%
    -webkit-border-radius 50%
    box-shadow 0px 0px 15px 15px #ec6e0a
    -webkit-box-shadow 0px 0px 15px 15px #ec6e0a
  
.fa-sign-out-alt
    float right
    font-size 1.5em
    position relative
    margin-top .5em
.fa-camera
    position relative
    display inline-block
    bottom 2em
    left 2em
    font-size 1.5em
    
.fa-question-circle
    font-size 1.5em    

.fa-camera:hover
    cursor pointer    
.iconInformation
    font-size 2em  
    margin-top .5em
    margin-right .5em 
    -webkit-transition-duration 0.4s
    transition-duration 0.4s
.iconInformation:hover
    color #ec6e0a
.iconProfileExit
    color #212529
    text-decoration none    
.fa-cogs
    color #ec6e0a
.fa-cogs:hover
    color #212529

