<div class="body">
  <div class="ProfileContainer containerCard">
    <div class="manualContainer" data-toggle="tooltip" data-placement="right" title="Manual">
      <a class="manualContainerA" href="/assets/Manual de usuario.pdf" target="_blank">
        <i class="fas fa-question-circle"></i>
      </a>
    </div>
    <figure class="ProfileImg">
      <img class="avatar" src="/assets/Profile.jpg" alt="UserProfileImg">
    </figure>
    <i class="iconProfileEdit fas fa-camera"></i>
    <figcaption class="ContentName">
      <p class="NameUser" target="_blank">
        @{{userData.login}}
        <!--Ng material module Badge-->
    </figcaption>
  </div>
  <div class="rolContainer">
    <figcaption class="ProfileDescription">
      <!--Ng material module Badge-->
      <p class="RolUser" target="_blank">
        {{userData.authorities}} <i class="fas fa-users"></i>
      </p>
      <!--Ng material module Badge-->
    </figcaption>
  </div>
  <div class="InformationContainer">
    <div class="informationItem">
      <i class="iconInformation fas fa-envelope-square"></i>
      <label>{{userData.email}}</label>
    </div>

    <div class="informationItem">
      <i class="iconInformation fas fa-phone-square-alt"></i>
      <label>+57 {{selectDetailUserInstructorTemp.phone}} </label>
    </div>


    <div class="informationItem">
      <i class="iconInformation fas fa-map-marked-alt"></i>
      <label>{{selectDetailUserInstructorTemp.address}}</label>
    </div>

    <div class="informationItem">
      <i class="iconInformation fas fa-cogs"></i>
      <label>Settings</label>
    </div>
  </div>
</div>
