/*Begin Var colors*/
Primary = #FF9900
Second = #238176
BorderColor = #b5b5b5
ArialColor = #333333
Fondo = #FFFFFF
Error= #B42E27
borde = .01em
/*End Var colors*
/*General Styles container table*/    
.table
    border none
    text-align center
    font-size .9em 

@media(max-width: 925px)
    .table
        display block
        width 100%
        overflow-x auto
        -webkit-overflow-scrolling touch

@media(max-width: 500px)
    .table
        font-size .7em

/*Thead Styles*/
.theadClass
    background Primary
    border borde solid Primary
    color Fondo
/*Tbody Styles*/    
.tbodyClass
    border borde solid Primary
    color ArialColor
    background-color Fondo

.contenedor-formulario
    margin-top 2em
    -webkit-transition-duration 1s
    transition-duration 1s

.contenedor-formulario:hover
    box-shadow 0 12px 16px 0 rgba(255 153 0 0.24)   0 17px 50px 0 rgba(255 153 0 0.24)  

.containerForm
    box-shadow none
    float right

.buttonEye, .buttonPlus
    border none


@media(max-width: 550px)
    .itemSearchR
        width 5em
        font-size .7em

/*Icons Table Style*/
.fa-plus,.fa-eye
    color Primary    
/*Material form*/
.groupContainer
    font-size .8em
    display block

.MainForm 
  color ArialColor

.fichaContent
    margin-right 1em
/*Buttom styles*/
.Send
    width 100%

/*Validations styles*/
.validations
    font-size .8em
    color Error
    position absolute
    padding-top 1.5em

.containerTable
    top 2em
    box-shadow none


.SelectTT
    font-size .7em  

  
.search
    width 16em 
    z-index 1
    float right 

.itemFilter
    margin-top .5em

.itemDown
    margin-bottom 2em   

.Details
    font-size .8em
    margin-top .5em
    margin-left 2em
    color rgba(3, 3, 3, .5)    