<div class="search col-lg-4">
  <mat-expansion-panel class="expansionPanel" matTooltip="Filtrar">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="iconContainer">
          <i class="fas fa-search"></i>
        </div>
        <h5 class="Details">Crear</h5>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card class="containerForm">
      <form class="searchFormCD" [formGroup]="searchForm" (ngSubmit)="searchApprenticeAndInstructorByFicha()">

        <div class="itemFilter">
          <!--autoComplic para instructor-->
          <p-autoComplete placeholder="Ficha" class="inputFicha" formControlName="code" field="code"
            [suggestions]="fichaList" (onSelect)="selectFichatemp2($event)"
            (completeMethod)="searchFichaByCode($event)">

            <ng-template let-brand pTemplate="item">
              <div>
                <div>{{brand.code}}</div>
              </div>
            </ng-template>

            <ng-template let-value pTemplate="selectedItem">
              <span>{{value}}</span>
            </ng-template>
          </p-autoComplete>
          <!--autoComplic para instructor end-->
        </div>

        <!--autoComplic para aprendiz-->
        <div class="itemFilter itemDown">
          <p-autoComplete placeholder="Nombre Aprendiz" class="inputFicha inputFichaUp" formControlName="documentNumber"
            field="detailUser.users.firstName" [suggestions]="apprenticeList" (onSelect)="selectAppreticeTemp($event)"
            (completeMethod)="searchApprentice($event)">

            <ng-template let-brand pTemplate="item">
              <div>
                <div>{{brand.detailUser.users.firstName}} {{brand.detailUser.users.lastName}}</div>
              </div>
            </ng-template>

            <ng-template let-value pTemplate="selectedItem">
              <span>{{value}}</span>
            </ng-template>
          </p-autoComplete>
        </div>
        <!--autoComplit para aprendiz end-->
      </form>
    </mat-card>
  </mat-expansion-panel>
</div>
<div class="container col-lg-8 containerTableAll">
  <mat-card class="containerTable">
    <table *ngIf="apprenticesList != null" class="table table-striped" border="1">

      <thead class="theadClass">

        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Email</th>
          <th scope="col">Documento</th>
          <th scope="col">Ficha</th>
          <th scope="col"><i class="fas fa-hand-pointer"></i></th>
        </tr>
      </thead>
      <tbody class="tbodyClass">

        <tr *ngFor="let item of apprentices"></tr>
        <tr *ngFor="let item of apprenticesList">
          <td>{{ item.fullName }}</td>
          <td>{{ item.emailPersonal }}</td>
          <td>{{ item.documentNumber }}</td>
          <td>{{ item.codeFicha }}</td>
          <td><button class="buttonEye" type="button" mat-button color="primary" (click)="showDialog()"
              (click)="viewAttentionCalled(item)">
              <i class="fas fa-eye"></i>
            </button>
            <button class="buttonPlus" type="button" mat-button color="primary" (click)="showMaximizableDialog()"
              (click)="addToApprentice(item)">
              <i class="fas fa-plus"></i>
            </button>
          </td>
        </tr>

      </tbody>

    </table>

  </mat-card>
  <!--modal para crear llamado de atencion -->
  <p-dialog header="Llamado de atención" [(visible)]="displayMaximizable" [maximizable]="true" [baseZIndex]="10000"
    [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
    <!--crear llamado de atencion-->
    <mat-card *ngIf="attentionCalledView != 0" class="contenedor-formulario">
      <form [formGroup]="UserFormGroup" novalidate class="formulario">
        <div>

          <mat-form-field class="groupContainer" appearance="fill">
            <mat-label class="MainForm">Tipo de documento*</mat-label>
            <input disabled matInput formControlName="typeDocument" type="text" name="typeDocument" readonly>
            <div *ngIf="UserFormGroup.get('typeDocument').invalid 
                          && (UserFormGroup.get('typeDocument').dirty || UserFormGroup.get('typeDocument').touched)">
              <div *ngIf="UserFormGroup.get('typeDocument').errors.required">
                <p class="validations">Este campo es requerido</p>
              </div>
            </div>
          </mat-form-field>
          <mat-form-field class="groupContainer" appearance="fill">
            <mat-label class="MainForm">Número de documento*</mat-label>
            <input matInput formControlName="documentNumber" type="text" name="documentNumber" readonly>
            <div
              *ngIf="UserFormGroup.get('documentNumber').invalid 
                          && (UserFormGroup.get('documentNumber').dirty || UserFormGroup.get('documentNumber').touched)">
              <div *ngIf="UserFormGroup.get('documentNumber').errors.required">
                <p class="validations">Este campo es requerido</p>
              </div>
            </div>
          </mat-form-field>
          <mat-form-field class="groupContainer" appearance="fill">
            <mat-label class="MainForm">Nombres*</mat-label>
            <input matInput formControlName="name" type="text" name="name" readonly>
            <div *ngIf="UserFormGroup.get('name').invalid 
                          && (UserFormGroup.get('name').dirty || UserFormGroup.get('name').touched)">
              <div *ngIf="UserFormGroup.get('name').errors.required">
                <p class="validations">Este campo es requerido</p>
              </div>
            </div>
          </mat-form-field>

          <mat-form-field class="groupContainer" appearance="fill">
            <mat-label class="MainForm">Descripcion*</mat-label>
            <textarea matInput minlength="15" maxlength="200" placeholder="Ex. Plagio en evidencias"
              formControlName="description" type="text" name="description"></textarea>
            <mat-hint align="end">Minimo 15 caracteres</mat-hint>
            <div
              *ngIf="UserFormGroup.get('description').invalid && (UserFormGroup.get('description').dirty || UserFormGroup.get('description').touched)">
              <div *ngIf="UserFormGroup.get('description').errors.required">
                <p class="validations">Este campo es requerido</p>
              </div>
            </div>
          </mat-form-field>

          <div class="groupContainer">
            <mat-label class="MainForm">Tipo*</mat-label>
            <select class="custom-select mr-sm-2 form-control" formControlName="type" type="text" name="type">
              <option class="SelectTT" value="ACADEMICO">Academico</option>
              <option class="SelectTT" value="ACTITUDINAL">Actitudinal</option>
            </select>
          </div>

          <div class="groupContainer">
            <mat-label class="MainForm">Trimestre*</mat-label>
            <select class="form-control" rows="3" cols="25" formControlName="trimestre" type="text" name="trimestre">
              <option class="SelectTT" value="1">Primero</option>
              <option class="SelectTT" value="2">Segundo</option>
              <option class="SelectTT" value="3">Tercero</option>
              <option class="SelectTT" value="4">Cuarto</option>
              <option class="SelectTT" value="5">Quinto</option>
              <option class="SelectTT" value="6">Sexto</option>
            </select>
          </div>

          <mat-form-field class="groupContainer" appearance="fill">
            <mat-label class="MainForm">Actividades*</mat-label>
            <textarea minlength="15" maxlength="200" placeholder="Ex. Presentar exposición y recoger firmas" matInput
              formControlName="activities" type="text" name="activities"></textarea>
            <mat-hint align="end">Minimo 15 caracteres</mat-hint>
            <div
              *ngIf="UserFormGroup.get('activities').invalid && (UserFormGroup.get('activities').dirty || UserFormGroup.get('activities').touched)">
              <div *ngIf="UserFormGroup.get('activities').errors.required">
                <p class="validations">Este campo es requerido</p>
              </div>
            </div>
          </mat-form-field>


          <button mat-flat-button color="primary" class="Send" mat-button [disabled]="UserFormGroup.invalid"
            (click)="confirm()">Enviar</button>
        </div>
      </form>
    </mat-card>
    <!--crear llamado de atencion fin-->
  </p-dialog>
  <!--modal para crear llamado de atencion fin -->


  <!--modal para mostrar llamado de atencion -->
  <p-dialog header="Llamado de atención" [(visible)]="display" [maximizable]="true" [baseZIndex]="10000"
    [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
    <div *ngIf="callAttentionList != null">
      <table *ngIf="r == 0" class="table table-striped table-responsive" border="1">
        <thead class="theadClass">
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Aprendiz</th>
            <th scope="col">Instructor</th>
            <th scope="col">Situacion</th>
            <th scope="col">Actividades</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody class="tbodyClass">
          <tr *ngFor="let item of callAttention"></tr>
          <tr *ngFor="let item of callAttentionList">
            <td>{{item.callAttentionDate}}</td>
            <td>{{item.aprendiz.users.lastName}} {{item.aprendiz.users.firstName}}</td>
            <td>{{item.instructor.users.lastName}} {{item.instructor.users.firstName}}</td>
            <td>{{item.situation}}</td>
            <td>{{item.summary}}</td>
            <td><i *ngIf="item.status" class="fas fa-lock-open"></i>
              <i *ngIf="!item.status" class="fas fa-lock"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </p-dialog>
  <!--modal para crear llamado de atencion fin-->

  <!--Confirmation Dialog-->

  <p-confirmDialog #cd header="¡Alerta!" icon="pi pi-exclamation-triangle">
    <p-footer>
      <button class="buttonConfirm" type="button" mat-flat-button color="warn" label="Cancelar" (click)="cd.reject()">
        <i class="fas fa-sign-out-alt"></i>
      </button>
      <button class="buttonConfirm" type="button" mat-flat-button color="primary" label="Confirmar"
        (click)="cd.accept()">
        <i class="fas fa-check"></i>
      </button>
    </p-footer>
  </p-confirmDialog>
  <!--End Confirmation Dialog-->
</div>