<div class="modal-contentA">
  <div class="modal-header">
    <h5 id="tituloVentana" class="titleModal">¡Bienvenido a S.A.F.I!</h5>
  </div>
  <div class="modal-body">
    <div>
      <p class="descriptionBody">Nos complace anunciarte que ahora haces parte de esta linda comunidad,
        dentro de pocos días <i class="fas fa-clock"></i> tendrás tu rol correspondiente.</p>
    </div>
  </div>
</div>
