<div class="container col-lg-3">
  <mat-card class="contenedor-formulario">

    <form [formGroup]="programFormGroup" novalidate (ngSubmit)="saveProgram()">

      <mat-form-field class="groupContainer">
        <mat-label class="MainForm">Codigo*</mat-label>
        <input matInput formControlName="code" type="text" name="code">
        <div *ngIf="programFormGroup.get('code').invalid 
                            && (programFormGroup.get('code').dirty || programFormGroup.get('code').touched )
                            ">
          <div *ngIf="programFormGroup.get('code').errors.maxlength">
            <p class="validations">Este campo debe contener como máximo 6 caracteres</p>
          </div>
          <div *ngIf="programFormGroup.get('code').errors.required">
            <p class="validations">Este campo es requerido</p>
          </div>
        </div>
      </mat-form-field>


      <mat-form-field class="groupContainer">
        <mat-label class="MainForm">Nombre del programa*</mat-label>
        <input matInput formControlName="nameProgram" type="text" name="nameProgram">
        <div *ngIf="programFormGroup.get('nameProgram').invalid 
                                && (programFormGroup.get('nameProgram').dirty || programFormGroup.get('nameProgram').touched )
                                ">
          <div *ngIf="programFormGroup.get('nameProgram').errors.required">
            <p class="validations">Este campo es requerido</p>
          </div>
          <div *ngIf="programFormGroup.get('nameProgram').errors.maxlength">
            <p class="validations">Este campo debe contener como máximo 50 caracteres</p>
          </div>
        </div>
      </mat-form-field>


      <mat-form-field class="groupContainer">
        <mat-label class="MainForm">Version*</mat-label>
        <input matInput formControlName="version" type="text" name="version">
        <div *ngIf="programFormGroup.get('version').invalid 
                            && (programFormGroup.get('version').dirty || programFormGroup.get('version').touched )
                            ">
          <div *ngIf="programFormGroup.get('version').errors.required">
            <p class="validations">Este campo es requerido</p>
          </div>
          <div *ngIf="programFormGroup.get('version').errors.maxlength">
            <p class="validations">Este campo debe contener como máximo 50 caracteres</p>
          </div>
        </div>
      </mat-form-field>


      <mat-form-field class="groupContainer">
        <mat-label class="MainForm">Duración etapa productiva*</mat-label>
        <input matInput formControlName="durationTrimesterProductive" type="text" name="durationTrimesterProductive">
        <div *ngIf="programFormGroup.get('durationTrimesterProductive').invalid 
                            && (programFormGroup.get('durationTrimesterProductive').dirty || programFormGroup.get('durationTrimesterProductive').touched )
                            ">
          <div *ngIf="programFormGroup.get('durationTrimesterProductive').errors.required">
            <p class="validations">Este campo es requerido</p>
          </div>
          <div *ngIf="programFormGroup.get('durationTrimesterProductive').errors.maxlength">
            <p class="validations">Este campo debe contener como máximo 50 caracteres</p>
          </div>
        </div>
      </mat-form-field>


      <mat-form-field class="groupContainer">
        <mat-label class="MainForm">Duración etapa lectiva*</mat-label>
        <input matInput formControlName="durationTrimesterLective" type="text" name="durationTrimesterLective">
        <div *ngIf="programFormGroup.get('durationTrimesterLective').invalid 
                            && (programFormGroup.get('durationTrimesterLective').dirty || programFormGroup.get('durationTrimesterLective').touched )
                            ">
          <div *ngIf="programFormGroup.get('durationTrimesterLective').errors.required">
            <p class="validations">Este campo es requerido</p>
          </div>
          <div *ngIf="programFormGroup.get('durationTrimesterLective').errors.maxlength">
            <p class="validations">Este campo debe contener como máximo 50 caracteres</p>
          </div>
        </div>
      </mat-form-field>


      <mat-form-field class="groupContainer">
        <mat-label class="MainForm">Tipo de formación*</mat-label>
        <input matInput formControlName="trainingType" type="text" name="trainingType">
        <div *ngIf="programFormGroup.get('trainingType').invalid 
                            && (programFormGroup.get('trainingType').dirty || programFormGroup.get('trainingType').touched )
                            ">
          <div *ngIf="programFormGroup.get('trainingType').errors.required">
            <p class="validations">Este campo es requerido</p>
          </div>
        </div>
      </mat-form-field>


      <mat-form-field class="groupContainer">
        <mat-label class="MainForm">Justificación*</mat-label>
        <input matInput formControlName="justification" type="text" name="justification">
        <div *ngIf="programFormGroup.get('justification').invalid 
                            && (programFormGroup.get('justification').dirty || programFormGroup.get('justification').touched )
                            ">
          <div *ngIf="programFormGroup.get('justification').errors.required">
            <p class="validations">Este campo es requerido</p>
          </div>
        </div>
      </mat-form-field>


      <mat-form-field class="groupContainer">
        <mat-label class="MainForm">Modo de formación*</mat-label>
        <input matInput formControlName="trainingMode" type="text" name="trainingMode">
        <div *ngIf="programFormGroup.get('trainingMode').invalid 
                            && (programFormGroup.get('trainingMode').dirty || programFormGroup.get('trainingMode').touched )
                            ">
          <div *ngIf="programFormGroup.get('trainingMode').errors.required">
            <p class="validations">Este campo es requerido</p>
          </div>
        </div>
      </mat-form-field>
      <button mat-flat-button color="primary" type="submit" class="Send" [disabled]="programFormGroup.invalid">Guardar</button>
    </form>
  </mat-card>
</div>
