/*Begin Vars*/
Primary = #FF9900
BorderColor = #b5b5b5
ArialColor = #333333
Fondo = #FFFFFF
borde = .01em
Second = #238176
   
/*Material form*/
/*Container Styles*/
.groupContainer
    display block
    font-size .8em 
.MainForm 
  color ArialColor

.contenedor-formulario
    margin-top 2em
    -webkit-transition-duration 1s
    transition-duration 1s

.contenedor-formulario:hover
    box-shadow 0 12px 16px 0 rgba(255 153 0 0.24)   0 17px 50px 0 rgba(255 153 0 0.24)  


/*Buttom styles*/
.Send
    width 100%
    
/*Validations styles*/
.validations
    font-size .6em
    color #D50000
    position absolute
    padding-top 1.5em

/*End material form*/

