/*Config of all footer*/
.containerAllFooter
    position relative
    text-align center
/*End config all footer*/
/*Style for icons*/
.iconsFooter
	font-size 1.3em
	color #FF9900
.fa-twitter,
.fa-instagram,
.fa-linkedin-in,
.fa-info-circle
    padding-left .4em
/*End Style for icons*/
/*Beging Style for footer*/
.copyrigth
	color #238176
	font-size 1.3em

@media(max-width: 650px)
	.iconsFooter, .copyrigth, .Sennnova
		font-size .9em
	
/*End Style for footer*/