<!--Beging footer-->
<footer class="containerAllFooter">
  <!--Beging container footer-->
  <div class="containerSocialNetworks">
    <div class="containerFooterOne">
      <a class="iconsFooter" href="https://www.facebook.com/SENA/" matTooltip="Facebook" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a class="iconsFooter" href="https://twitter.com/SENAComunica?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" matTooltip="Twitter" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a class="iconsFooter" href="https://co.linkedin.com/school/servicio-nacional-de-aprendizaje-sena-/" target="_blank" matTooltip="Linkedin">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a class="iconsFooter" href="https://www.instagram.com/senacomunica/?hl=es-la" matTooltip="Instagram" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
      <a class="iconsFooter" href="/assets/Manual de usuario.pdf" matTooltip="Manual" target="_blank">
        <i class="fas fa-info-circle"></i>
      </a>
    </div>

    <div class="containerFooterTwo">
      <div class="copyrigth">
        ©Todos los derechos reservados. |
        <a class="Sennnova" href="https://www.sena.edu.co/es-co/formacion/Paginas/tecnologia-innovacion.aspx" target="_blank">Powered by ADSI SENNOVA™</a>
      </div>
    </div>
  </div>
  <!--End footer-->
</footer>
<!--End footer-->
