/*Begin Var colors*/
Primary = #FF9900
Second = #238176
BorderColor = #b5b5b5
ArialColor = #333333
Fondo = #FFFFFF
Error= #B42E27
borde = .01em

.buttonEye .buttonPlus
    border none

/*Icons Table Style*/
.fa-plus .fa-eye
    color Primary    
/*Material form*/
/*Container Styles*/
.groupContainer
    display block
    font-size .9em
.tipeOption .month
    font-size .9em    
.MainForm 
  color ArialColor
.contenedorFormulario
    color ArialColor
    box-shadow none
    margin-top 2em 
    -webkit-transition-duration 1s
    transition-duration 1s

@media(max-width: 420px)
	.contenedorFormulario
        margin-bottom 6em    


.contenedorFormulario:hover  
    box-shadow 0 12px 16px 0 rgba(255, 153, 0, 0.24),   0 17px 50px 0 rgba(255, 153, 0, 0.24)       
/*End WizardForm Style's*/    
/*Buttom styles*/
.Send
    width 100%

/*Validations styles*/
.validations
    font-size .8em
    color red
    position absolute
    padding-top 1.5em


