.containerIconSide, .containerIcon
  font-size 0
.SAFI-image
  width 0
  height 0  
  float left
.subtitleSideContent  
  display inline-block

/*Media Query*/
@media(max-width: 1000px)
  .containerName, .contentSideTitle, .subtitleSideContent, .containerComiteTitle
    transition all 0.4s ease-in-out
    font-size 0 
  .containerIcon
    float left 
  .containerIconSide, .containerIcon
    transition all 0.4s ease-in-out
    font-size 1em 
  .accordionPanelContent
    padding-left 0
  .containerComite
    margin-left -2em
    padding-left 2em
  .titleCall:hover  
    background-color none 
  .titleCall  
    margin-left -2em
    padding-left 2em 
  .SAFI-image
    width 1.3em
    height 1.3em   
  .ContainerSAFI
    margin-left -9em   
/*Media Query*/


.mat-sidenav-container
  height 87vh
  font-family 'Open Sans' sans-serif


      

.mat-sidenav
   background linear-gradient(rgba(255 255 255 .9) rgba(255 255 255 .9))
   url("https://images.unsplash.com/photo-1529348915581-73628f0cf212?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80") fixed center center   

.containerComite
    margin-left -2em
    width 17.2em
    height 3.5em
    margin-bottom 1em
    padding-left 2em
    transition .8s

.menuPrincipal
  background-color #248176
  color #FFF
  transition .8s
  cursor pointer

.ContainerSAFI
  padding-left 0
  text-align center
  background #FF9900
  color #FFF  
  font-size 1.2em
  font-weight bold
  transition .8s

.ContainerSAFI:hover    
  background #ff5800

.containerComite  
  background-color #FF9900
  color #FFF

.buttonToggle  
  border none

.fa-sign-out-alt
  color #248176
  font-size 1.5em

.titleCall  
  transition-duration .1s
  
.titleCall:hover  
  background-color #248176
  color #FFF 

.containerIconSide, .containerComiteTitle
   display inline-block
.containerName, .containerIcon, .containerSAFIimg
  display inline-block
.containerIconSide 
  color #000 

  

