<!--MatContainer-->
<mat-sidenav-container class="mat-sidenav-container">
  <!--Toggle Sidenav-->
  <mat-sidenav class="mat-sidenav" #sidenav mode="side" [(opened)]="opened">
    <mat-card class="ContainerSAFI">
      <div class="containerName ">
        SAFI
      </div>
      <figure class="containerSAFIimg">
        <img class="SAFI-image" src="../../../assets/SAFI LOGO.png" alt="SAFI logo">
      </figure>

    </mat-card>

    <mat-card [routerLink]="['./dashboard-home']" class="menuPrincipal">
      <div class="containerName">
        Menú Principal
      </div>
      <div class="containerIcon fixed-right" matTooltip="Menú Principal" matTooltipPosition="right">
        <i class="fas fa-house-user"></i>
      </div>
    </mat-card>

    <!--MODAL ASPIRANTE-->
    <mat-card class="ContainerUser" (click)="openDialogA()" *appHasAnyAuthority="['ADMIN','ASPIRANTE']">
      <div class="containerName ">
        Aspirante
      </div>
      <div class="containerIcon fixed-right" matTooltip="Aspirante" matTooltipPosition="right">
        <i class="fas fa-school"></i>
      </div>
    </mat-card>
    <!--MODAL ASPIRANTE-->

    <mat-accordion class="accordionPanelContent">
      <mat-expansion-panel class="expansionPanel" *appHasAnyAuthority="'ADMIN'">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="contentSideTitle">
              Administrador
            </div>
            <div class="containerIconSide" matTooltip="Administrador" matTooltipPosition="right">
              <i class="fas fa-user-lock"></i>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card type="button" mat-flat-button class="containerComite" data-toggle="collapse"
          data-target="#comiteAdmin">
          <div class="subtitleSideContent">
            Comité
          </div>
          <div class="containerIconSide" matTooltip="Comité" matTooltipPosition="right">
            <i class="fas fa-gavel"></i>
          </div>
        </mat-card>

        <div id="comiteAdmin" class="collapse ContainerCall">
          <a class="nav-link titleCall" [routerLink]="['./user/user-list']">
            <div class="containerComiteTitle">
              Listar usuario
            </div>
            <div class="containerIconSide" matTooltip="Listar usuario" matTooltipPosition="right">
              <i class="fas fa-clipboard-list"></i>
            </div>
          </a>
        </div>

        <div id="comiteAdmin" class="collapse ContainerCall">
          <a class="nav-link titleCall" [routerLink]="['./detail-user/detailUser-list']">
            <div class="containerComiteTitle">
              Listar detalle de usuario
            </div>
            <div class="containerIconSide" matTooltip="Listar detalle de usuario" matTooltipPosition="right">
              <i class="fas fa-user-lock"></i>
            </div>
          </a>


        </div>
        <div id="comiteAdmin" class="collapse ContainerCall">
          <a class="nav-link titleCall" [routerLink]="['./program/program-create']">
            <div class="containerComiteTitle">
              Crear programa
            </div>
            <div class="containerIconSide" matTooltip="Crear programa" matTooltipPosition="right">
              <i class="fas fa-plus-circle"></i>
            </div>
          </a>
        </div>

        <div id="comiteAdmin" class="collapse ContainerCall">
          <a class="nav-link titleCall" [routerLink]="['./program/program-list']">
            <div class="containerComiteTitle">
              Listar programa
            </div>
            <div class="containerIconSide" matTooltip="Listar programa" matTooltipPosition="right">
              <i class="fas fa-clipboard-list"></i>
            </div>
          </a>
        </div>
        <div id="comiteAdmin" class="collapse ContainerCall">
          <a class="nav-link titleCall" [routerLink]="['./ficha/ficha-create']">
            <div class="containerComiteTitle">
              Crear ficha
            </div>
            <div class="containerIconSide" matTooltip="Crear ficha" matTooltipPosition="right">
              <i class="fas fa-plus-circle"></i>
            </div>
          </a>
        </div>
        <div id="comiteAdmin" class="collapse ContainerCall">
          <a class="nav-link titleCall" [routerLink]="['./ficha/ficha-list']">
            <div class="containerComiteTitle">
              Listar ficha
            </div>
            <div class="containerIconSide" matTooltip="Listar ficha" matTooltipPosition="right">
              <i class="fas fa-clipboard-list"></i>
            </div>
          </a>
        </div>

      </mat-expansion-panel>


      <mat-expansion-panel class="expansionPanel" *appHasAnyAuthority="['ADMIN','INSTRUCTOR']">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="contentSideTitle">
              Instructor
            </div>

            <div class="containerIconSide" matTooltip="Instructor" matTooltipPosition="right">
              <i class="fas fa-chalkboard-teacher"></i>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card type="button" mat-flat-button class="containerComite" data-toggle="collapse"
          data-target="#comiteInstructor">
          <div class="subtitleSideContent">
            Comité
          </div>
          <div class="containerIconSide" matTooltip="Comité" matTooltipPosition="right">
            <i class="fas fa-gavel"></i>
          </div>
        </mat-card>
        <div id="comiteInstructor" class="collapse  ContainerCall">
          <a class="nav-link titleCall" [routerLink]="['./call-attention/instructor-call-attention']">
            <div class="containerComiteTitle">
              Llamados de
              atención
            </div>
            <div class="containerIconSide" matTooltip="Llamados de atención" matTooltipPosition="right">
              <i class="fas fa-print"></i>
            </div>
          </a>
        </div>
        <div id="comiteInstructor" class="collapse  ContainerCall">
          <a class="nav-link titleCall" [routerLink]="['./call-attention/instructor-call-attentionList']">
            <div class="containerComiteTitle">
              Listar Llamados de
              atención
            </div>
            <div class="containerIconSide" matTooltip="Listar Llamados de atención" matTooltipPosition="right">
              <i class="fas fa-clipboard-list"></i>
            </div>
          </a>

        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class="expansionPanel" *appHasAnyAuthority="['ADMIN','APRENDIZ']">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="contentSideTitle">
              Aprendiz
            </div>
            <div class="containerIconSide" matTooltip="Aprendiz" matTooltipPosition="right">
              <i class="fas fa-graduation-cap"></i>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card type="button" mat-flat-button class="containerComite" data-toggle="collapse"
          data-target="#comiteStudent">
          <div class="subtitleSideContent">
            Comité
          </div>
          <div class="containerIconSide" matTooltip="Comité" matTooltipPosition="right">
            <i class="fas fa-gavel"></i>
          </div>
        </mat-card>
        <div id="comiteStudent" class="collapse  ContainerCall">
          <a class="nav-link titleCall" [routerLink]="['./call-attention/aprendiz-call-attention-list']">
            <div class="containerComiteTitle">
              Llamados de
              atención
            </div>
            <div class="containerIconSide" matTooltip="Llamados de atención" matTooltipPosition="right">
              <i class="fas fa-print"></i>
            </div>
          </a>

        </div>
      </mat-expansion-panel>


    </mat-accordion>

    <mat-card [routerLink]="['./dashboard-home']" class="menuPrincipal" (click)="openDialog()">
      <div class="containerName">
        Buzon
      </div>
      <div class="containerIcon fixed-right" matTooltip="Buzon" matTooltipPosition="right">
        <i class="fas fa-paper-plane"></i>
      </div>
    </mat-card>

  </mat-sidenav>
  <!--Toggle Sidenav-->
</mat-sidenav-container>
<!--MatContainer-->
