<div class="banner" id="home">
  <div class="banner-content">
    <div class="container col-lg-3">
      <mat-card class="contenedor-formulario">
        <form [formGroup]="UserFormGroup" class="FormUserCreate" novalidate (ngSubmit)="saveUser()">

          <mat-form-field class="groupContainer">
            <mat-label class="MainForm">Usuario*</mat-label>
            <input matInput maxlength="20" placeholder="Bratc" formControlName="login" type="text" name="login">
            <mat-hint align="end">Mínimo 3 carácteres</mat-hint>
            <mat-icon matSuffix>account_circle</mat-icon>
            <div
              *ngIf="UserFormGroup.get('login').invalid && (UserFormGroup.get('login').dirty || UserFormGroup.get('login').touched)">
              <div *ngIf="UserFormGroup.get('login').errors.required">
                <p class="validations">Este campo es requerido</p>
              </div>
              <p class="validations" *ngIf="UserFormGroup.get('login')?.errors?.exist">
                El usuario ya existe
              </p>
            </div>
          </mat-form-field>

          <mat-form-field class="groupContainer">
            <mat-label class="MainForm">Contraseña*</mat-label>
            <input matInput formControlName="password" name="password" [type]="hide ? 'password' : 'text'"
              class="inputSe" autocomplete="off" type="password" id="doc" formControlName="password" name="password">
            <p mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </p>
            <div
              *ngIf="UserFormGroup.get('password').invalid && (UserFormGroup.get('password').dirty || UserFormGroup.get('password').touched )">
              <div *ngIf="UserFormGroup.get('password').errors.required">
                <p class="validationsPass">Este campo es requerido</p>
              </div>
            </div>
          </mat-form-field>

          <mat-form-field class="groupContainer">
            <mat-label class="MainForm">Nombre*</mat-label>
            <input maxlength="15" matInput formControlName="firstName" type="text" name="firstName">
            <mat-hint align="end">Mínimo 3 carácteres</mat-hint>
            <div
              *ngIf="UserFormGroup.get('firstName').invalid && (UserFormGroup.get('firstName').dirty || UserFormGroup.get('firstName').touched )">
              <div *ngIf="UserFormGroup.get('firstName').errors.required">
                <p class="validations">Este campo es requerido</p>
              </div>
            </div>
          </mat-form-field>

          <mat-form-field class="groupContainer">
            <mat-label class="MainForm">Apellido*</mat-label>
            <input maxlength="15" matInput formControlName="lastName" type="text" name="lastName">
            <mat-hint align="end">Mínimo 3 carácteres</mat-hint>
            <div
              *ngIf="UserFormGroup.get('lastName').invalid && (UserFormGroup.get('lastName').dirty || UserFormGroup.get('lastName').touched)">
              <div *ngIf="UserFormGroup.get('lastName').errors.required">
                <p class="validations">Este campo es requerido</p>
              </div>
            </div>
          </mat-form-field>

          <button type="submit" class="button" [disabled]="UserFormGroup.invalid" mat-flat-button
            color="primary">Next</button>
        </form>
      </mat-card>
    </div>
  </div>
</div>
