/*Begin Var colors*/
/*Begin Var colors*/
Primary = #FF9900
Second = #238176
BorderColor = #b5b5b5
ArialColor = #333333
Fondo = #FFFFFF
Error= #d50000
borde = .01em
/*End Var colors*
/*Material form*/
/*Slide Style*/
.banner
        width 100%
        height calc(100vh - 50px)
        background-color Fondo
        background-size cover
        background-position center
        transition all .1s ease-out
        background-image url('https://1.bp.blogspot.com/-PmEhHcAE4v4/Xcb52p4WFFI/AAAAAAAAQkU/eoVw2j2vjDoSQkd5xx8ZBdgMCeZOtccrACLcBGAsYHQ/s1600/3d8912b7-20e4-4af6-8e05-93303da05400.jpg')
        animation banner 28s infinite linear
        height 100vh
        font-family 'Open Sans', sans-serif
 
.banner-content
        margin 0
        padding 0
        width 100%
        height 100%
        color Fondo
        background-color rgba(0 22 40 .6)
        display flex
        flex-direction column
        justify-content center
        align-items center

 @media(max-width: 420px)
      .bannerTittle
            font-size 1.5em
      
      .bannerSubtitle
            font-size .8em
      


@keyframes banner
        0%
              background-image: url('https://1.bp.blogspot.com/-PmEhHcAE4v4/Xcb52p4WFFI/AAAAAAAAQkU/eoVw2j2vjDoSQkd5xx8ZBdgMCeZOtccrACLcBGAsYHQ/s1600/3d8912b7-20e4-4af6-8e05-93303da05400.jpg')
        
        25%
              background-image: url('https://1.bp.blogspot.com/-PmEhHcAE4v4/Xcb52p4WFFI/AAAAAAAAQkU/eoVw2j2vjDoSQkd5xx8ZBdgMCeZOtccrACLcBGAsYHQ/s1600/3d8912b7-20e4-4af6-8e05-93303da05400.jpg')
        
  
  
        26%
              background-image: url('https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1302&q=80')
        
        50%
              background-image: url('https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1302&q=80')
        
  
  
        51%
              background-image: url('https://images.unsplash.com/photo-1516321497487-e288fb19713f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')
        
        75%
              background-image: url('https://images.unsplash.com/photo-1516321497487-e288fb19713f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')
        
        
  
        76%
              background-image: url('https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')
        
        100%
              background-image: url('https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')
        
  

/*Slide Style*/  

/*Container Styles*/
.button
    -webkit-transition-duration 1s
    transition-duration 1s
    width 100%
    margin-top: 1.5em

.MainForm 
  color ArialColor

.contenedor-formulario
    margin-top 2em
    -webkit-transition-duration 1s
    transition-duration 1s

.contenedor-formulario:hover
    box-shadow 0 12px 16px 0 rgba(255 153 0 0.24)   0 17px 50px 0 rgba(255 153 0 0.24)


.FormUserCreate
    font-size .9em

  

/*Buttom styles*/

.groupContainer
    display block  
    margin-top 1em  
    font-size 1em  
/*Validations styles*/
.validations
    padding-top .8em

.validations, .validationsPass
    font-size .8em
    color: #d50000
    position absolute

.validationsPass
    padding-top: 2em  

/*End material form*/