<div class="banner" id="home">
  <div class="banner-content">
    <div class="container" id="containing">
      <div class="row justify-content-lg-center">
        <div class="contentCard col-lg-6 card">
          <div class="ProfileContainer containerCard">
            <h2><i class="fas fa-key"></i> RESET </h2>
          </div>
          
          <form action="" [formGroup]="userEmail">
            <h4 class="card-title text-center">Please enter your email <i class="fas fa-envelope"></i></h4>
            <input type="email" class="form-control" formControlName="email" required />

            <div *ngIf="userEmail.get('email').invalid && (userEmail.get('email').dirty)">
              <div *ngIf="userEmail.get('email').errors.required">
                <p class="validations alert alert-danger" role="alert">Este campo es requerido
                </p>
              </div>
            </div>
            <div *ngIf="userEmail.get('email').invalid && (userEmail.get('email').dirty)">
              <div *ngIf="userEmail.get('email').errors.email">
                <p class="validations alert alert-danger" role="alert">El email no tiene la sentencia
                  adecuada
                </p>
              </div>
            </div>
            <div class="form-group text-center">
              <button class="buttonForgot" (click)="onReset()">
                Send <i class="fas fa-paper-plane"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
