.validations
    font-size 13px
/*Slide Style*/
.banner
        width 100%
        height calc(100vh - 50px)
        background-color Fondo
        background-size cover
        background-position center
        transition all .1s ease-out
       background-image url('https://1.bp.blogspot.com/-PmEhHcAE4v4/Xcb52p4WFFI/AAAAAAAAQkU/eoVw2j2vjDoSQkd5xx8ZBdgMCeZOtccrACLcBGAsYHQ/s1600/3d8912b7-20e4-4af6-8e05-93303da05400.jpg')
        animation banner 28s infinite linear
        height 100vh
        font-family 'Open Sans' sans-serif

.banner-content
        margin 0
        padding 0
        width 100%
        height 100%
        color Fondo
        background-color rgba(0 22 40 .6)
        display flex
        flex-direction column
        justify-content center
        align-items center


@media(max-width: 420px)
      .bannerTittle
            font-size 1.5e
      
      .bannerSubtitle
            font-size .8e
      


 @keyframes banner
        0%
              background-image url('https://1.bp.blogspot.com/-PmEhHcAE4v4/Xcb52p4WFFI/AAAAAAAAQkU/eoVw2j2vjDoSQkd5xx8ZBdgMCeZOtccrACLcBGAsYHQ/s1600/3d8912b7-20e4-4af6-8e05-93303da05400.jpg')
        
        25%
              background-image url('https://1.bp.blogspot.com/-PmEhHcAE4v4/Xcb52p4WFFI/AAAAAAAAQkU/eoVw2j2vjDoSQkd5xx8ZBdgMCeZOtccrACLcBGAsYHQ/s1600/3d8912b7-20e4-4af6-8e05-93303da05400.jpg')
        
  
  
        26%
              background-image url('https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1302&q=80')
        
        50%
              background-image url('https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1302&q=80')
        
  
  
        51%
              background-image url('https://images.unsplash.com/photo-1516321497487-e288fb19713f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')
        
        75%
              background-image url('https://images.unsplash.com/photo-1516321497487-e288fb19713f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')
        
        
  
        76%
              background-image url('https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')
        
        100%
              background-image url('https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')
        
  
 
/*Slide Style*/  
.fa-key .fa-envelope
    color #ff5800

.contentCard
    box-shadow 0 12px 16px 0 rgba(255 153 0 0.24)  0 17px 50px 0 rgba(255 153 0 0.24)            

.ProfileContainer
    height 4em    
 
.ProfileContainer
    text-align center  
    position relative
    margin-top 1.5em
.buttonForgot
    margin-top 1em 
    -webkit-transition-duration 0.4s
    transition-duration: 0.4s
    padding  .3em
    width  5em
    border  none
    background  #ff5800
    border-radius  10%
    color  #FFF

.buttonForgot:hover
    box-shadow  0 12px 16px 0 rgba(255 153 0 0.24)   0 17px 50px 0 rgba(255 153 0 0.24)    
  

