/*Style for padding space in the columns container*/
.GridNavbar
    padding 0
.GridFooter
    padding 0 0 0 .1em    
/*End style for padding space in the columns container*/   
.asideRes
    width 0 !important
    transition all 0.4s ease-in-out
    
.asideResLg
    width 15em 
    transition all 0.4s ease-in-out
    position absolute
    z-index 3

@media(max-width: 1000px)
        .asideResLg
            width 4em            
    
.footer
    background #FFF
    