<app-navbar (openEvent)="cambiar($event)"></app-navbar>
<div class="container-fluid safi-container">
  <div class="row">
    <div class="asideResLg" [ngClass]="{'asideRes': isActive}">
      <app-sidebar [isActivated]="sendIsActivate()"></app-sidebar>
    </div>
    <div class="GridNavbar col-lg-12">
      <router-outlet class="routerOutlet"></router-outlet>
    </div>
  </div>
</div>
<app-footer class="footer fixed-bottom"></app-footer>
