/* You can add global styles to this file, and also import other style files */
html {
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    width: .4em;
    background: #fff;
}
body::-webkit-scrollbar-thumb{
    background: #E65100;
    border-radius: 5px;
}
