<div class="container col-lg-8">
  <mat-card class="containerTable">
    <table class="table table-striped  table-responsive" border="1">
      <thead class="theadClass">
        <tr>
          <th>Id</th>
          <th>DocumentNumber</th>
          <th>Phone</th>
          <th>EmailPersonal</th>
          <th>Address/Hogar</th>
          <th>ExpeditionDate</th>
          <th>Gender</th>
          <th>DocumentType</th>
          <th>EmailSena</th>
          <th>Funcionario</th>
          <th>ContractTerminated</th>
          <th>DateStartContract</th>
          <th>DateEndContract</th>
          <th>IUsers</th>
        </tr>
      </thead>

      <tbody class="tbodyClass">
        <tr *ngFor="let item of detailUser">
          
        <tr *ngFor="let item of detailUserList">
          <td scope="row">{{ item.id }}</td>
          <td>{{ item.documentNumber }}</td>
          <td>{{ item.phone }}</td>
          <td>{{ item.emailPersonal }}</td>
          <td>{{ item.address }}</td>
          <td>{{ item.expeditionDate }}</td>
          <td>{{ item.gender }}</td>
          <td>{{ item.documentType }}</td>
          <td>{{ item.emailSena }}</td>
          <td>{{ item.funcionario }}</td>
          <td>{{ item.contractTerminated }}</td>
          <td>{{ item.dateStartContract }}</td>
          <td>{{ item.dateEndContract }}</td>
          <td>{{ item.users.id}}</td>
        </tr>
      </tbody>
    </table>
  </mat-card>

</div>
