<!--<h2 class="TittleCreateFicha">Programas</h2>-->
<div class="container col-lg-3">
  <!--
            <table class="table table-striped table-inverse table-responsive" border="1">
                <thead class="thead-inverse theadClass">
                    <tr>
                        <th>Id</th>
                        <th>code</th>
                        <th>version</th>
                        <th>nameProgram</th>
                        <th>durationTrimesterProductive</th>
                        <th>status</th>
                        <th>justification</th>
                        <th>durationTrimesterLective</th>
                        <th>trainingMode</th>
                        <th>trainingType</th>
                        <th>seleccionar</th>
                        <!--<th>Actions</th>--
                    </tr>
                </thead>
                <tbody class="tbodyClass">
                    <tr *ngFor="let item of program"></tr>

                    <tr *ngFor="let item of programList">
                        <td scope="row">{{ item.id }}</td>
                        <td>{{ item.code }}</td>
                        <td>{{ item.version }}</td>
                        <td>{{ item.nameProgram }}</td>
                        <td>{{ item.durationTrimesterProductive }}</td>
                        <td>{{ item.status }}</td>
                        <td>{{ item.justification }}</td>
                        <td>{{ item.durationTrimesterLective }}</td>
                        <td>{{ item.trainingMode }}</td>
                        <td>{{ item.trainingType }}</td>
                        <td>

                            <button (click)="addToProgram(item)">Seleccionar</button>

                        </td>
                    </tr>

                </tbody>
            </table>
        -->
  <mat-card class="contenedor-formulario">


    <form [formGroup]="fichaFormGroup" novalidate (ngSubmit)="saveFicha()">

      <mat-form-field class="groupContainer">
        <mat-label class="MainForm">Codigo*</mat-label>
        <input matInput formControlName="code" type="text" name="code">
        <div *ngIf="fichaFormGroup.get('code').invalid 
                        && (fichaFormGroup.get('code').dirty || fichaFormGroup.get('code').touched )
                        ">
          <div *ngIf="fichaFormGroup.get('code').errors.required">
            <p class="validations">Este campo es requerido</p>
          </div>
          <div *ngIf="fichaFormGroup.get('code').errors.minlength">
            <p class="validations">Este campo debe contener mínimo 8 caracteres</p>
          </div>
          <div *ngIf="fichaFormGroup.get('code').errors.maxlength">
            <p class="validations">Este campo debe contener como máximo 10 caracteres</p>
          </div>
        </div>
      </mat-form-field>


      <mat-form-field class="groupContainer" color="primary">
        <mat-label class="MainForm">Fecha de inicio</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="date" required>
        <mat-datepicker-toggle matSuffix [for]="picker">
        </mat-datepicker-toggle>
        <mat-datepicker #picker color="primary"></mat-datepicker>
        <mat-error *ngIf="date">{{getErrorMessageDate()}}</mat-error>
      </mat-form-field>



      <mat-form-field class="groupContainer">
        <mat-label class="MainForm">Estado*</mat-label>
        <input matInput formControlName="status" type="text" name="status">
      </mat-form-field>



      <mat-form-field class="groupContainer" color="primary">
        <mat-label class="MainForm">Fecha fin etapa lectiva</mat-label>
        <input matInput [matDatepicker]="pickerOne" [formControl]="dateOne" required>
        <mat-datepicker-toggle matSuffix [for]="pickerOne">
        </mat-datepicker-toggle>
        <mat-datepicker #pickerOne color="primary"></mat-datepicker>
        <mat-error *ngIf="dateOne">{{getErrorMessageDateOne()}}</mat-error>
      </mat-form-field>



      <mat-form-field class="groupContainer" color="primary">
        <mat-label class="MainForm">Fecha fin etapa practica</mat-label>
        <input matInput [matDatepicker]="pickerTwo" [formControl]="dateTwo" required>
        <mat-datepicker-toggle matSuffix [for]="pickerTwo">
        </mat-datepicker-toggle>
        <mat-datepicker #pickerTwo color="primary"></mat-datepicker>
        <mat-error *ngIf="dateTwo">{{getErrorMessageDateTwo()}}</mat-error>
      </mat-form-field>



      <mat-form-field class="groupContainer">
        <mat-label class="MainForm">Tipo de oferta*</mat-label>
        <input matInput formControlName="offerType" type="text" name="offerType">
      </mat-form-field>

      <mat-form-field class="groupContainer">
        <mat-label class="MainForm">Trainning Type*</mat-label>
        <input matInput formControlName="trainingType" type="text" name="trainingType">
      </mat-form-field>


      <mat-form-field class="groupContainer" color="primary">
        <mat-label class="MainForm">Work Day</mat-label>
        <input matInput [matDatepicker]="pickerThree" [formControl]="dateThree" required>
        <mat-datepicker-toggle matSuffix [for]="pickerThree">
        </mat-datepicker-toggle>
        <mat-datepicker #pickerThree color="primary"></mat-datepicker>
        <mat-error *ngIf="dateThree">{{getErrorMessageDateThree()}}</mat-error>
      </mat-form-field>


      <button mat-flat-button color="primary" type="submit" class="Send" [disabled]="fichaFormGroup.invalid">Guardar</button>
    </form>
  </mat-card>
</div>
