
/*Begin Vars*/
Primary = #FF9900
BorderColor = #b5b5b5
ArialColor = #333333
Fondo = #FFFFFF
borde = .01em
Second = #238176
/*General Styles container table
 
.table
    border 0
    text-align center
/*Thead Styles
.theadClass
    background Primary
    border borde solid Primary
    color Fondo
    text-transform uppercase
/*Tbody Styles*
.tbodyClass
    border borde solid Primary
    color ArialColor
    background-color Fond



/*Material form*/

/*Container Styles*/
.MainForm 
  color ArialColor

.contenedor-formulario
    margin-top 2em
    -webkit-transition-duration 1s
    transition-duration 1s

.contenedor-formulario:hover
    box-shadow 0 12px 16px 0 rgba(255 153 0 0.24)  0 17px 50px 0 rgba(255 153 0 0.24)  


/*Buttom styles*/
.Send
    width 100%
.groupContainer
    display block    
    font-size .9em  
/*Validations styles*/
.validations
    font-size .6em
    color #d50000
    position absolute
    padding-top 1.5em
 
/*End material form*/

     